@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.nav {
    display: flex;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    width: 800px;
}
.nav-bar {
    display: flex;
    justify-content: center;
}
.nav-title {
    color:white;
    margin-left: 50px;
}
.nav-links {
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;
    width: 500px;
}
.nav-links > li > a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
li {
    list-style: none;
}
.likes {
    background-color: yellow;
    color:black;
}
.add {
    background-color: greenyellow;
    color:black;
}
.login {
    background-color: blue;
    color:white;
}
.container{
    display: flex;
    margin: 0px auto;
    width: 50%;
}
.topleft, .bottomleft, .topright {
    border: 1px solid grey;
}
.topleft > .bottom {
    width: 400px;
    height: 200px;
    background-color: white;
    display: flex;
    align-items: center;
}
.topleft > .bottom > .bottom-contents {
    padding: 0px 20px;
    font-size: 20px;
}
.bottomleft {
    position: relative;
    top: 100px;
}
.bottomleft > .bottom {
    width: 500px;
    height: 200px;
    background-color: white;
    display: flex;
    align-items: center;
}
.bottomleft > .bottom > .bottom-contents {
    padding: 10px 20px;
}
.grey {
    color: grey;
}
.marginbottom {
    margin-bottom: 15px;
}
.topright > .bottom {
    width: 300px;
    height: 200px;
    background-color: white;
    display: flex;
    align-items: center;
}
.topright > .bottom > .bottom-contents {
    padding: 10px 20px;
    font-size: 24px;
}
.add {
    width: 80%;
}
.topleft, .topright {
    position: relative;
    top: 50px;
}
.col1 {
    position: relative;
    left: 50px;
}
.col2 {
    position: relative;
    left: 100px;
}