@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.nav {
    display: flex;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    width: 850px;
}
.nav-bar {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 850px;
}
.nav-title {
    color:white;
    margin-left: 50px;
}
/* like button */
.likes {
    background-color: yellow;
    color:black;
}
/* add definition */
.add {
    background-color: greenyellow;
    color:black;
}
/* login button */
.login {
    background-color: blue;
    color:white;
}
.container{
    display: flex;
    margin: 0px auto;
    width: 850px
}
.topleft, .bottomleft, .topright {
    border: 1px solid grey;
}
.topleft > .bottom {
    width: 400px;
    height: 200px;
    background-color: white;
    display: flex;
    align-items: center;
}
.topleft > .bottom > .bottom-contents {
    padding: 0px 20px;
    font-size: 20px;
}
.bottomleft {
    /* position: relative;
    top: 100px; */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.bottomleft > .bottom {
    width: 400px;
    height: 200px;
    background-color: white;
    display: flex;
    align-items: center;
}
.bottomleft > .bottom > .bottom-contents {
    padding: 10px 20px;
}
.marginbottom {
    margin-bottom: 15px;
}
.topright > .bottom {
    width: 300px;
    height: 200px;
    background-color: white;
    display: flex;
    align-items: center;
}
.topright > .bottom > .bottom-contents {
    padding: 10px 20px;
    font-size: 24px;
}
.add {
    width: 80%;
}
.topleft, .topright {
    position: relative;
    top: 50px;
}
.col1 {
    /* position: relative;
    left: 50px; */
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}
.col2 {
    /* position: relative;
    left: 100px; */
    /* display: flex;
    flex-wrap: wrap;
    gap: 100px; */
}